.container {
    padding: 0 15px;
    margin: 0 auto;
}

.block{
    display: block;
}

.inline{
    display: inline;
}

.inline-block {
    display: inline-block;
}

.content-keypoint{
    background: #CED4DA;
    color: #198754;
    padding: 0 4px;
}
